<!DOCTYPE html>
<html>
<head>
  <title>core-overlay</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <script src="packages/web_components/dart_support.js"></script>
  <link rel="import" href="packages/ah_polymer_stuff/glass_pane.html">

  <style>
    body {
      margin: 0;
    }

    section {
      padding: 24px;
    }
  </style>
</head>
<body unresolved>
  <section>
    <x-container></x-container>
  </section>

  <!-- an element that uses the glass-pane element and core-overlay -->
  <polymer-element name="x-container">
  <template>
    <glass-pane id="dialog" class="dialog">
      <!-- place all overlay styles inside the overlay target -->
      <style no-shim>

        #dialog {
          width: 300px;
        }
      </style>
      <h2>Dialog</h2>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla sapien sed enim sollicitudin laoreet. Suspendisse suscipit, metus ac volutpat sodales, libero magna semper lacus, molestie fringilla massa orci ut arcu. Nullam sodales urna sit amet odio vehicula mattis.</div><br><br>
      <div>Ut aliquam vulputate congue. Vestibulum pretium pretium nulla quis sollicitudin. Praesent lacinia congue erat nec mattis. Fusce commodo lacus est. Duis turpis eros, ultrices sed aliquet non, blandit egestas velit. Integer a augue nec lorem tristique hendrerit. Curabitur imperdiet risus id enim bibendum vestibulum. Integer id magna at arcu faucibus fermentum vel a augue. Sed fringilla venenatis dolor, in blandit magna molestie luctus. Vestibulum dignissim posuere ultrices. Aenean urna nisl, tincidunt vitae iaculis ut, pharetra nec eros.</div><br><br>

      <div>
        <input placeholder="say something..." autofocus on-input="{{inputHandler}}" /><br>
        I agree with this wholeheartedly.
        <core-overlay layered id="confirmation" class="dialog" backdrop transition="core-transition-top">
          <!-- place all overlay styles inside the overlay target -->
          <style no-shim>
            .dialog {
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 13px;
              -webkit-user-select: none;
              -moz-user-select: none;
              overflow: hidden;
              background: white;
              padding:30px 42px;
              outline: 1px solid rgba(0,0,0,0.2);
              box-shadow: 0 4px 16px rgba(0,0,0,0.2);
            }

            #confirmation {
              box-sizing: border-box;
              text-align: center;
              width: 150px;
            }
          </style>
          Thank you.
        </core-overlay>
      </div><br><br>
      <button core-overlay-toggle>OK</button>
    </glass-pane>

    <button on-tap="{{tapHandler}}">Toggle Dialog</button>
  </template>

  <script type="application/dart">
    import 'package:polymer/polymer.dart';

    @CustomTag('x-container')
    class XElement extends PolymerElement with Observable {
      XElement.created() : super.created();

      inputHandler(e) {
        if (e.target.value == 'something') {
          this.$['confirmation'].toggle();
        }
      }

      tapHandler() {
        this.$['dialog'].toggle();
      }
    }
  </script>

  </polymer-element>

  <script type="application/dart">export 'package:polymer/init.dart';</script>

</body>
</html>
