<!DOCTYPE html>

<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>static_page</title>

    <link rel="import" href="packages/polymer/polymer.html">
    <link rel="import" href="packages/ah_polymer_stuff/static_page.html">
    <link rel="import" href="packages/core_elements/core_pages.html">
    <link rel="import" href="packages/paper_elements/paper_tabs.html">
  </head>

  <body unresolved fullbleed>

    <polymer-element name="test-element">
      <template>
        <paper-tabs selected="{{selected}}">
          <paper-tab>Foo</paper-tab>
          <paper-tab>Bar</paper-tab>
        </paper-tabs>

        <core-pages selected="{{selected}}">
          <static-page contentUrl="/foo.html" displayed="{{fooDisplayed}}" fit></static-page>
          <static-page contentUrl="/bar.html" displayed="{{barDisplayed}}" fit></static-page>
        </core-pages>
      </template>

      <script type="application/dart">
        import 'dart:html';
        import 'package:polymer/polymer.dart';
        import 'package:logging/logging.dart';

        @CustomTag('test-element')
        class CCElement extends PolymerElement with Observable {
          @published var selected;
          @observable bool fooDisplayed = false;
          @observable bool barDisplayed = false;

          CCElement.created() : super.created() {
            hierarchicalLoggingEnabled = true;
            Logger.root.level = Level.ALL;

            Logger.root.onRecord.listen((rec) {
              print('${rec.time.toIso8601String()} $rec');
            });

          }

          void ready() {
            print('----- ready');
          }

          selectedChanged() {
            print('----- selectedChanged $selected');

            fooDisplayed = selected == 0;
            barDisplayed = selected == 1;
          }
        }


        void main() {
          initPolymer();
        }
      </script>
    </polymer-element>

    <test-element fit></test-element>

  </body>
</html>
