<link rel="import" href="../../packages/polymer/polymer.html">

<polymer-element name="test-row"  unresolved>
  <template>
    <style>
      [draggable], [draggable]::content *, [draggable]::content /deep/ * {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
      }

      div {
        height: 100px;
        border: solid black 1px;
      }
    </style>

    <div draggable="true">
      <h1>hello I'm a row {{data}}</h1>
    </div>
  </template>


  <script type="application/dart">
    import 'package:polymer/polymer.dart';

    @CustomTag('test-row')
    class XElement extends PolymerElement with Observable {
      XElement.created() : super.created();


      @published var data;

    }
  </script>
</polymer-element>
