<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/ah_polymer_stuff/draggable_list_item.html">
<link rel="import" href="test_row.html">
<link rel="import" href="packages/core_elements/core_list_dart.html">

<polymer-element name="test-container" fit on-list-item-moved="{{itemMoved}}">
  <template>
    <style>
      core-list-dart {
        min-height: 100px;
        border: 1px solid #ddd;
      }

    </style>

    <core-list-dart height="100" data="{{data}}">
      <template>
        <draggable-list-item>
          <test-row data="{{model}}"></test-row>
        </draggable-list-item>
      </template>
    </core-list-dart>
  </template>

  <script type="application/dart">
    import 'package:polymer/polymer.dart';
    import 'package:logging/logging.dart';
    import 'package:ah_polymer_stuff/draggable_event.dart';

    @CustomTag('test-container')
    class CCElement extends PolymerElement with Observable {
      CCElement.created() : super.created() {
        hierarchicalLoggingEnabled = true;
        Logger.root.level = Level.ALL;

        Logger.root.onRecord.listen((rec) {
          print('${rec.time.toIso8601String()} $rec');
        });

      }

      @observable ObservableList<String> data =
          new ObservableList.from([
                                   new DataItem('1'),
                                   new DataItem('2'),
                                   new DataItem('3')
                                   ]);

      void itemMoved(_, CoreListItemMoved detail) {
        print('itemMoved $detail');
        final currentIndex = detail.fromIndex;

        final removed = data.removeAt(currentIndex);
        data.insert(detail.toIndex, removed);
      }
    }

    class DataItem {
      String value;
      var selected;
      var index;
      bool multi;
      DataItem(this.value);

      String toString() => 'data item $index with value $value';
    }
  </script>
</polymer-element>
