<!--
Copyright (c) 2014 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../packages/polymer/polymer.html">
<style>
  core-drag-avatar {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    pointer-events: none;
  }
</style>

<!--
@group Polymer Core Elements
@element core-drag-drop
@homepage github.io
-->

<polymer-element name="core-drag-drop">
  <script type="application/dart" src="core_drag_drop.dart"></script>
</polymer-element>
