<link rel="import" href="../../packages/core_elements/core_style.html">

<core-style id="draggable-list-item" unresolved>
  :host {
    display: block;
  }

  #row-container, #drag-container {
    padding: none;
    margin: none;
    display: block;
  }

  #row-container {
/*
    border: solid 1px black;
*/
  }

  /* Prevent the text contents of draggable elements from being selectable. */
/*
  :host {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  :host, ::shadow, #row-container, #drag-container, [draggable] /deep/ {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
*/
  [draggable], [draggable]::content *, [draggable]::content /deep/ * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  [draggable]:hover, [draggable]:active  {
    cursor:move;
  }

  .over {
    opacity: 0.3;
  }

  .moving {
/*    background-color:rgba(255,255,255,1.0);
    border: dashed 3px black;
     */
  }

}

</core-style>

<polymer-element name="draggable-list-item" >
  <template>

    <core-style ref="draggable-list-item"></core-style>

    <div id="row-container" draggable="true">
      <content></content>
    </div>

  </template>
  <script type="application/dart" src="draggable_list_item.dart"></script>
</polymer-element>

