<link rel="import" href="../../packages/core_elements/core_ajax_dart.html">

<polymer-element name="static-page">
  <template>
    <style>

      :host {
        display: block;
      }

    </style>

    <core-ajax-dart id="ajax" url="{{contentUrl}}"
        handleAs="text" on-core-response="{{handleResponse}}">
    </core-ajax-dart>

    <div id="content" flex>
    </div>

  </template>
  <script type="application/dart" src="static_page.dart"></script>
</polymer-element>
